.wrapper {
    display: flex;
    justify-content: center;

    .wrapper-nav {
        width: 100vw;
        display: flex;
        justify-content: space-between;

        .content-nav1 {
            height: 10px;
            background-color: violet;
        }


    }





}