.wrapperForm {
    position: relative;
    height: 100vh;

    .navbar {
        display: flex;
        align-items: center;
        height: 5%;
        background-color: gainsboro;
        text-align: center;

        span {
            padding: 0px 8px;
        }

        span:hover {
            cursor: pointer;
        }

        i {
            margin-left: 8px;
        }

    }

    .wrapForm {
        //css hide to show modal
        animation: animetionOpenPage2 .7s ease forwards;
        position: absolute;
        top: 5%;
        left: -100%;
        width: 100%;
        background-color: white;
        z-index: 999;

        @keyframes animetionOpenPage2 {
            from {
                left: -100%;
            }

            to {
                left: 0%;
            }
        }
    }

    .wrapFormTest {
        position: absolute;
        top: 0;
        left: -100%;
    }

    .wrapForm2 {
        //css show to hide modal
        animation: animetionClosePage2 .7s ease forwards;
        position: absolute;
        top: 5%;
        width: 100%;
        background-color: white;

        @keyframes animetionClosePage2 {
            from {
                left: 0%;
            }

            to {
                left: -100%;
            }
        }
    }

}