.wrapper {
    width: 75%;
    min-width: 50rem;
    height: 100vh;

    &-address {
        display: flex;
        flex-wrap: wrap;
        padding: 0.75rem 2rem;
        border-radius: 4px;
        min-width: 75rem;
        background-color: #fffefb;

        >div:first-child {
            width: 100%;
            color: #ee4d2d;
        }

        >div:nth-child(2) {
            font-weight: bold;
        }

        >div:nth-child(n+3) {
            margin-left: 24px;
        }
    }

    .block2 {
        margin-bottom: 0px 0px;

    }

    .distance {
        background-color: #fffefb;
        margin: 5px 0px;
        padding: 0.75rem 2rem;
        min-width: 75rem;
        border-radius: 4px;
        border: 1px solid rgba(224, 168, 0, .4);

        .flex-block {
            display: flex;
        }

        .flex-block1 {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            width: 100%;
        }

        .flex-block2 {
            display: flex;
            flex-wrap: wrap;
            width: 70%;
            justify-content: space-between;
            // align-items: center;
        }

        .flex-block3 {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            align-items: center;
            height: 60px;
        }

        .distance-r-10 {
            margin-right: 10px;
        }

        .distance-b-10 {
            margin-bottom: 10px;
        }

        .product-block {
            width: 40%;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        .price-block {
            width: 45%;
        }

        .shopname {
            width: 70px;
            height: 16px;
            background-color: rgb(238, 77, 45);
            font-size: 12px;
            color: #fffefb;
            border-radius: 2px;
            text-align: center;
            margin-right: 12px;
        }

        .block1 {
            width: 100%;
            padding-bottom: 12px;
            border-bottom: 1px solid rgba(0, 0, 0, .09);
        }
    }

    &-payment {}

    .vtrWey {
        height: 2px;
        width: 100%;
        background-position-x: -30px;
        background-size: 116px 3px;
        background-image: repeating-linear-gradient(45deg, #6fa6d6, #6fa6d6 33px, transparent 0, transparent 41px, #f18d9b 0, #f18d9b 74px, transparent 0, transparent 82px);
    }
}