.form-Login {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;

    //label
    .wrapper-Login-center {
        width: 100%;
        min-height: 50%;
        background-color: white;
        border-radius: 5px;

        .wrapper-Login-label {
            padding: 0px 30px;
            display: flex;
            justify-content: space-between;
            font-size: 1.5vw;
            color: #222;
        }

        //Form
        .wrapperForm {
            padding: 25px 30px;

            input {
                padding: 10px 10px;
                margin: 10px 0px;
            }

            button {
                background-color: #ee4d2d;
                color: whitesmoke
            }

            .block-login2 {
                display: flex;
                justify-content: space-between;

                a {
                    text-decoration: none;

                }
            }

            .wrap-icon-login {
                display: flex;
                justify-content: space-around;

                >span {
                    width: 30%;
                    border: 1px solid gray;
                    padding: 3px 5px;
                    border-radius: 5px;
                    font-size: 1.2vw;
                    text-align: center;
                }

                a {
                    color: black;
                    text-decoration: none;
                }

                span {
                    padding-left: 3px;
                }

            }

            .block-border {
                display: flex;
                justify-content: space-between;
                align-items: center;
                color: #ccc;

                &-2 {
                    border: 1px solid #ccc;
                    height: 1px;
                    width: 40%;
                }
            }

            .block-signup {
                display: flex;
                justify-content: center;
                padding-top: 10px;

                a {
                    padding-left: 5px;
                    color: #ee4d2d;
                }
            }

        }
    }
}