.wrapIcon {
    background-color: rgba(0, 0, 0, .18);
    padding-top: 10px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.wrapIcon:hover {
    background-color: rgba(0, 0, 0, .18);
    padding-top: 10px;
    padding-bottom: 4px;
    border-radius: 4px;
}

.carousel-control-next-icon {
    top: 20%;
    left: 0px;
}