.form-Login {
    display: flex;
    align-items: center;
    width: 40%;
    height: 100%;

    .wrapper-Login-center {
        width: 100%;
        height: 50%;
        background-color: white;
        border-radius: 5px;

        .wrapper-Login-label {
            padding: 0px 30px;
            display: flex;
            justify-content: space-between;
            font-size: 1.6rem;
            color: #222;
        }

        .wrapperForm {
            padding: 25px 30px;

            input {
                padding: 10px 10px;
                margin: 10px 0px;
            }

            button {
                background-color: #ee4d2d;
            }
        }
    }
}