.container {
    width: 100%;
    background-color: white;
    padding: 0 20px;
    border-radius: 8px;

    .title-account {
        padding: 20px 0px;
        border-bottom: 1px solid gainsboro;
    }

    .form-container {
        padding: 20px 0px;
    }
}