.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 84px;

    //& .wrap
    &-content {

        display: flex;
        width: 80%;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;

            a {
                padding: 0px 15px;
            }

            img {
                width: 122px;
                height: 40px;
            }

            span {
                font-size: 1.6rem;
                margin-top: 5px;
            }
        }

        .block-right {
            color: #ee4d2d
        }
    }
}