.gray-color {
    color: #757575;
}

.section-1 {
    display: flex;
    min-width: 45rem;
    background-color: white;

    &-image {
        width: 40%;
        height: 100%;
        box-sizing: border-box;
        padding: 20px 12px 20px 12px;

        img {
            width: 100%;
            max-height: 25rem;
        }

        &-slider {
            position: relative;
            box-sizing: border-box;

            .item-img {
                padding: 5px;

                img {
                    min-width: 2rem;
                    width: 60%;
                    height: 5rem;
                }

            }
        }
    }

    .active {
        //su dung khi hv
        border: 1px solid black;
    }

    &-detail-product {
        width: 60%;
        box-sizing: border-box;
        padding: 20px 12px 20px 12px;

        .title {
            font-size: 1.25rem;
        }

        .wrap-flex {
            display: flex;
            text-align: center;
            padding-top: 4px;

            &.flex-gap {
                gap: 30px
            }

            .wrap-star {
                display: flex;
                align-items: center;
                padding-right: 7px;
                border-right: 1px solid #dcdcdc;

                span {
                    border-bottom: 1px solid black;
                    padding-right: 5px;
                }

                svg {
                    width: 20px;
                    height: 15px;
                }
            }

            .wrap-feedback {
                padding-left: 5px;
                padding-right: 10px;
                border-right: 1px solid #dcdcdc;

            }

            .wrap-sold {
                padding-left: 5px;
            }


        }

        .wrap-select {
            box-sizing: border-box;
            padding: 5px 20px;

            >div {
                margin-top: 50px;
            }

            .wrap-price {
                display: flex;
                align-items: center;
                padding: 10px 30px;
                margin-top: 20px;
                background-color: rgba(208, 1, 27, 0.08);
                font-size: 1.8rem;
                color: #ee4d2d;

                .price-pre-discount {
                    font-size: 20px;
                    text-decoration: line-through;
                    padding-right: 10px;
                    color: #757575;
                }

                .discount {
                    position: relative;
                    top: -12px;
                    font-size: 15px;
                    color: #ee4d2d;
                }
            }

            .amount {
                >input {
                    width: 25%;
                    height: 31px;
                    text-align: center;
                    border: solid 1px gainsboro;
                }

                >button {
                    background-color: white;
                    border: solid 1px gainsboro;
                    width: 32px;
                    height: 32px;
                }
            }

            .btn1 {
                padding: 11px 40px;
                border-radius: 4px;
                background-color: rgba(255, 87, 34, .1);
                border: 1px solid #ee4d2d;
                color: #ee4d2d;
            }

            .btn2 {
                margin-left: 20px;
                padding: 11px 20px;
                border-radius: 4px;
                background-color: #ee4d2d;
                border: none;
            }
        }

        .nofication {
            color: #ee4d2d;
            margin-left: 9rem;
        }
    }
}

.slick-arrow {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: whitesmoke;
    z-index: 1;
    font-size: 150%;

    &.right {
        top: calc(50% - 12px);
        right: 9px;

        i {
            text-shadow: 3px 0px 5px rgba(0, 0, 0, .3);
        }
    }

    &.left {
        top: calc(50% - 12px);
        left: 9px;

        i {
            text-shadow: -3px 0px 5px rgba(0, 0, 0, .3);
        }
    }
}

@keyframes animation {
    from {
        font-size: 150%;
    }

    to {
        font-size: 180%;
    }
}

.slick-arrow:hover {
    font-size: 180%;
    animation-name: animation;
    animation-duration: .08s;
}